.items-list {
  &__image {
    width: 150px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    margin: 0 10px 0 0;
    object-fit: cover;
  }

  &__title {
    width: 150px;
  }

  &__content {
    margin: 8px 0 0;
  }

  &__price {
    font-weight: bold;
    font-size: 14px;
    margin: 4px 0;
  }

  &__description {
    font-size: 11px;
  }

  &__email {
    font-size: 10px;
    position: absolute;
    bottom: 8px;
  }
}
